<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Your Counseling Website</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <!-- Your header content goes here -->
        <nav>
            <ul>
                <li><a href="{%url 'counsel:home' %}">Home</a></li>
                <li><a href="{%url 'counsel:create_story'%}">Share with Friends➕</a></li>
                <li><a href="{%url 'counsel:counsellor'%}">Talk to Counsellors</a></li>
                <li><a href="https://huggingface.co/spaces/Obook156/VCounsellor" target="_blank">Talk to a LadyBot</a></li> </br>
                <li><a href="https://www.llama2.ai/" target="_blank">Talk to PapaBot</a></li> </br>

                <!-- Add more links to other pages in the navigation bar -->
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="sidebar-left">
                <h3>Alternative Navigation</h3>
                <ul>
                    <li><a href="{%url 'counsel:home' %}">Home</a></li> </br>
                    <li><a href="{%url 'counsel:create_story'%}">Share with Friends➕</a></li> </br>
                    <li><a href="{%url 'counsel:counsellor' %}">Talk to Counsellors</a></li> </br>
                    <li><a href="https://huggingface.co/spaces/Obook156/VCounsellor" target="_blank">Talk to a LadyBot</a></li> </br>
                    <li><a href="https://www.llama2.ai/" target="_blank">Talk to a PapaBot</a></li> </br>
                    <li>{% if user.is_authenticated %}
                            Hello, {{ user.username }} </br>
                            <a href="{% url 'users:logout' %}">Log out</a>
                        {% else %}</br>
                        <a href="{% url 'users:register' %}">Register</a> -
                    <a href="{% url 'users:login' %}">Log in</a>
                        {% endif %}
                    </li>
                    <!-- Add more links to other pages in the left sidebar -->
                </ul>
                    <!-- Motivational sticky note -->
                <div class="motivational-note">
                    <p>KNUST Counselling Centre. Your Safe Haven</p>
                </div>
            </div>

            <div class="content">
                <!-- Include the content from child templates -->
                {% block content %}
                {% endblock %}
            </div>

            <div class="sidebar-right">
                <h3> Communique</h3>
                <!-- Add your flyer and ad content here -->
                <div class="flyer">
                    <img src="{% static 'images/counsel_flyer.jpg' %}" alt="flyer">
                    <img src="{% static 'images/counsellingpage1.jpeg' %}" alt="flyer">
                    <img src="{% static 'images/counsellingpage2.jpeg' %}" alt="flyer">
                    <img src="{% static 'images/counsellingpage3.jpeg' %}" alt="flyer">
                    <img src="{% static 'images/counsellingpage4.jpeg' %}" alt="flyer">
                    <img src="{% static 'images/counsellingpage6.jpeg' %}" alt="flyer">



                    <p>This is an upcoming health talk program, which will be held in COS and we entreat you all to come.
                    Thank you</p>
                </div>
                <p>Hope to see you there😍</p>
            </div>
        </div>
    </main>

    <footer>
        <!-- Your footer content goes here -->
        <p>&copy; 2023 Counseling Website. All rights reserved.</p>
    </footer>

    <!-- Your JavaScript files -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
